<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="kk">
<form #taskForm="ngForm" ngNativeValidate (ngSubmit)="saveTask(taskForm.value)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">ENTER TASK</h3>
    </div>
</div>
    
    <div class="panel-body">
      <div class="form-group" [class.has-success]="task_nameControl.valid" 
      [class.has-error]="task_nameControl.invalid && task_nameControl.touched">
        <label for="task_name" class="control-label">Task Name</label>
        <input required id="task_name" [(ngModel)]="user2.task_name" 
        name="task_name" type="text" #task_nameControl="ngModel" class="form-control">
        <span class="help-block" *ngIf="task_nameControl.invalid && task_nameControl.touched">
          Task Name is required
        </span>
    </div>
      <div class="form-group">
        <label for="task_description">Task Description</label>
        <input id="task_description" [(ngModel)]="user2.task_description" name="task_description" type="text" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="actual_start_date">Actual Start Date</label>
        <input id="actual_start_date" [(ngModel)]="actual_start_date" placement="top" name="actual_start_date" bsDatepicker type="text" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="actual_end_date">Actual End Date</label>
        <input id="actual_end_date" [(ngModel)]="actual_end_date" placement="top" name="actual_end_date" bsDatepicker type="text" 
          class="form-control">
      </div>
      
     
      
      
      
      
      
      
    </div>
   
    <button type="submit" class="btn btn-default" [disabled]="!taskForm.form.valid">Submit</button>    
      <button type="button" class="button" (click)="Cancel()" >Cancel</button>
    
  
</form>
</div>

