<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  
   
   
   <title>Hr pmo</title>
</head>
<body>

<div id='cssmenu'>
<ul>
                <li class=' has-sub'><a ><span>Users</span></a>
                        <ul>
                           <li ><a (click)="view()"><span>View Users</span></a>
                              
                                 
                           </li>
                           <li ><a (click)="addu()"><span>Add User</span></a>
                           </li>
                                <li ><a (click)="edu()"><span>Edit and Delete Users</span></a>
                              
                                 
                                
                           </li>
                        </ul>
                     </li>
                     <li class=' has-sub'><a ><span>User Role</span></a>
                        <ul>
                                        <li ><a (click)="viewu()"><span>View User Roles</span></a>
                              
                                 
                                        </li>
                           <li ><a (click)="endu()"><span>Edit & Delete User Roles</span></a>
                              
                                 
                           </li>
                           <li ><a (click)="addu1()"><span>Add User Role</span></a>
                           </li>
                        </ul>
                     </li>

        
   
   <li class='last'><a (click)="rolem()"><span>Role Mapping</span></a></li>
   
   <li class=' has-sub'><a ><span>Task</span></a>
        <ul>
        <li >
                <a (click)="view1()"><span>View Tasks</span></a>
        </li>
          
        <li >
                <a (click)="addu2()"><span>Add Tasks</span></a>
        </li>
        </ul>
     </li>
  
   
   
   
</ul>
</div>

</body>
<html>
  