
<!doctype html>

<html lang=''>

<head>

<meta charset='utf-8'>

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">




<title>Hr pmo</title>

</head>

<body>

<div *ngIf="x==y">

<div id='cssmenu'>

<ul>

<li class=' has-sub'><a ><span>Users</span></a>

<ul>



<li ><a (click)="edu()"><span>Users</span></a>




</li>

<li ><a (click)="addu()"><span>Add User</span></a>

</li>


</ul>

</li>

<li class=' has-sub'><a ><span>User Role</span></a>

<ul>






<li ><a (click)="endu()"><span>User Role</span></a>



</li>

<li ><a (click)="addu1()"><span>Add User Role</span></a>

</li>

</ul>

</li>






<li class=' has-sub'><a ><span>Role Mapping</span></a>

<ul>



<li ><a (click)="rolem()"><span>View Roles</span></a>




</li>

<li ><a (click)="assign2()"><span>Assign Roles</span></a>

</li>


</ul>

</li>

<li class=' has-sub'><a ><span>Tasks</span></a>

<ul>



<li ><a (click)="view1()"><span>View Tasks</span></a>




</li>

<li ><a (click)="addu2()"><span>Add Task</span></a>

</li>


</ul>

</li>




<li class=' has-sub'><a ><span>Task Info</span></a>

<ul>



<li ><a (click)="viewtm()"><span>View Tasks Members</span></a>




</li>

<li ><a (click)="viewtr()"><span>View Task Reports</span></a>

</li>


</ul>

</li>





</ul>

</div>

</div>



<div *ngIf="x==z">

<div id='cssmenu'>

<ul>

<li class=' has-sub'><a (click)="Details(i)" ><span>enter task details </span></a>

</li>

<li class=' has-sub'><a (click)="report()"><span>Task Report</span></a> 

</li></ul>

</div>


</div>

<div *ngIf="x==n">

<div id='cssmenu'>

<ul>


<li class=' has-sub'><a (click)="assign(i)" ><span>Assign Tasks </span></a>

</li>
<li class=' has-sub'><a (click)="unassign(i)" ><span>Unassign Tasks </span></a>

</li>


<li class=' has-sub'><a (click)="report()"><span>Task Report</span></a> 

</li></ul>

</div>


</div>





</body>

<html>

