<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  
   
   
   <title>Hr pmo</title>
</head>
<body>
                
<div id='cssmenu'>
<ul>
                <div *ngIf="x==y ">
                <li class=' has-sub'><a ><span>Users</span></a>
                        <ul>
                              
                                 
                                <li ><a (click)="edu()"><span>Users</span></a>
                              
                                 
                                
                                </li>
                           <li ><a (click)="addu()"><span>Add User</span></a>
                           </li>
                               
                        </ul>
                     </li>
                     <li class=' has-sub'><a ><span>User Role</span></a>
                        <ul>
                        
                                       
                              
                                 
                                        
                           <li ><a (click)="endu()"><span>User Role</span></a>
                              
                                 
                           </li>
                           <li ><a (click)="addu1()"><span>Add User Role</span></a>
                           </li>
                        </ul>
                     </li>

        
   
   <li class='last'><a ><span>Role Mapping</span></a>
<ul>
        <li><a (click)="rolem()"><span>View mapping</span></a></li>
        <li ><a (click)="rolem2()"><span>Add Mapping</span></a>
        </li>
</ul>
</li>
   
   <li class=' has-sub'><a ><span>Tasks</span></a>
        <ul>
              
                 
                <li ><a (click)="view1()"><span>View Tasks</span></a>
              
                 
                
                </li>
           <li ><a (click)="addu2()"><span>Add Task</span></a>
           </li>
               
        </ul>
     </li>
 

     <li class=' has-sub'><a ><span>Task Info</span></a>
        <ul>
              
                 
                <li ><a (click)="viewtm()"><span>View Tasks Members</span></a>
              
                 
                
                </li>
           <li ><a (click)="viewtr()"><span>View Task Reports</span></a>
           </li>
               
        </ul>
     </li>
     <li class=' has-sub'><a><span>Hierarchy</span></a>
        <ul>
              
                 
                <li ><a (click)="htdetails()"><span>Hierarchy Table</span></a>
              
                 
                
                </li>
           <li ><a (click)="hr()"><span>Add Hierarchy Details </span></a>
           </li>
               
        </ul>
    
     </li>
     
</div>
          <div *ngIf="x==z">    
     <li ><a (click)="Tr()"><span>Task Reports</span></a>
        <li ><a (click)="Te()"><span>Enter Task Details</span></a>
                              
                                 
     </li>
</div>  
</ul>

</div>

</body>
<html>