<app-header></app-header>
<app-sidebar></app-sidebar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="table">

<table  id="customers" >
  <tr>
    <th>Task Id</th>
    <th>Employee ID</th>
    <th>Employee Name</th>
    <th>Task Description</th>
    <th></th>
   
  </tr>
   <tbody  *ngFor="let user of taskDataListing.data let i = index"[attr.data-index]="i">
     <tr *ngIf="user.task_id==x">
    <td>{{user.task_id}}</td>
    <td>{{user.emp_id}}</td>
    <td>{{user.first_name}}</td>
    
    <td>{{user.task_description}}</td>
    
   
    
    
    
    
      </tr>
   </tbody>
    
  
</table>

</div>

